.divstyle{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    margin: auto;
    border: 1px solid;
    border-radius: 10px;
    box-shadow: 0 5px 10px #888888;
    margin-top: 30px;
    padding-bottom: 50px;
    margin-bottom: 50px;
    background-color: #EDECEC;

}


.titletext{
    width: 100%;
}
.formstyle{
    
    width: 80%;
    margin:auto;
}

.catandby{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 15px;
   
}

.cat{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.by{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    

}

.category{
    width: 100%;
}

.byinput{
    width: 100%;
    height:40px
}

.desc{
    display: flex;
    flex-direction: column;
}

/* image */



.postbtn{
    width: 100%;
    margin-top: 10px;
    background-color: #E06868;
}
@media only screen and (max-width: 600px){
    .divstyle{
       
        width: 80%;
        background-color: #EDECEC;
    }
        
    .catandby{
        flex-direction: column;
    }
    .cat{
        flex-direction: column;
        justify-content: space-evenly;
    }
    .by{
        flex-direction: column;
        justify-content: space-evenly;
    }
    .up-img{
        width: 90%;
    }

}

        
