.article-by{
    display: flex;
    flex-direction: row;
}

.article-by-container{
    padding: 0;
}

.byAdmin-article-desc{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.byAdmin-article-details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.im{
    width:100%;
    height: 250px;
}


@media only screen and (max-width: 600px){
    .article-by{
        flex-direction: column;
    }


}
